/.idea/
/venv/
*.pyc
.DS_Store
/runs/*
data/*
run.sh
log/*
tables/*
.vscode/*
*.npz
*.pth
# ignore dataset
dataset/*
__pycache__/
# Excpet code in this folder 
!dataset/EEGEyeNet.py
!dataset/preparator
logs/*